In [1]:
import pandas as pd
import numpy as np

In [2]:
sku_with_cluster = pd.read_csv('sku_with_cluster.csv')
sku_with_cluster.head()

,"('quantity', 'mean')","('quantity', 'sum')","('order_ID', 'nunique')","('order_hour', 'nunique')","('order_hour', 'group_mode')","('day_of_month', 'nunique')","('day_of_month', 'group_mode')","('original_unit_price', 'mean')","('discount_rate', 'mean')","('direct_discount_rate', 'mean')",...,"('dc_ori', 'nunique')","('dc_ori', 'group_mode')","('dc_des', 'nunique')","('dc_des', 'group_mode')","('promise', 'group_mode')","('type', 'group_mode')",brand_ID,attribute1,attribute2,cluster_id
0,0.016613,-0.104401,-0.104149,0.938484,"(20.0, 22.0]",0.447133,11,-0.187985,-0.670775,-0.573686,...,0.528038,2,0.026780,4,-,2,9d3465eacc,4.0,100.0,0
1,-0.085135,-0.127381,-0.128484,-0.900601,"(8.0, 10.0]",-0.678702,12,0.051392,1.216695,2.359627,...,-0.590648,9,-0.585264,9,-,2,42e6445fca,4.0,100.0,4
2,-0.085135,-0.127381,-0.128484,-0.900601,"(13.0, 15.0]",-0.678702,12,-0.084642,0.066594,0.617621,...,-0.590648,5,-0.585264,5,-,2,4f65703579,3.0,100.0,11
3,-0.085135,-0.127381,-0.128484,-0.900601,"(0.0, 8.0]",-0.678702,19,-0.214348,-0.719927,-0.573686,...,-0.590648,9,-0.585264,9,-,2,137b63c785,3.0,100.0,11
4,-0.041003,0.028178,0.052921,1.858027,"(18.0, 20.0]",2.448617,14,-0.201694,0.268572,0.884032,...,0.751776,5,2.092427,4,2,2,5a0b271e15,2.0,100.0,6

In [4]:
order = pd.read_csv('./capstone_jd_msom_data-minus-click-data/JD_order_data.csv')
order.head()

,order_ID,user_ID,sku_ID,order_date,order_time,quantity,type,promise,original_unit_price,final_unit_price,direct_discount_per_unit,quantity_discount_per_unit,bundle_discount_per_unit,coupon_discount_per_unit,gift_item,dc_ori,dc_des
0,d0cf5cc6db,0abe9ef2ce,581d5b54c1,2018-03-01,2018-03-01 17:14:25.0,1,2,-,89.0,79.0,0.0,10.0,0.0,0.0,0,4,28
1,7444318d01,33a9e56257,067b673f2b,2018-03-01,2018-03-01 11:10:40.0,1,1,2,99.9,53.9,5.0,41.0,0.0,0.0,0,28,28
2,f973b01694,4ea3cf408f,623d0a582a,2018-03-01,2018-03-01 09:13:26.0,1,1,2,78.0,58.5,19.5,0.0,0.0,0.0,0,28,28
3,8c1cec8d4b,b87cb736cb,fc5289b139,2018-03-01,2018-03-01 21:29:50.0,1,1,2,61.0,35.0,0.0,26.0,0.0,0.0,0,4,28
4,d43a33c38a,4829223b6f,623d0a582a,2018-03-01,2018-03-01 19:13:37.0,1,1,1,78.0,53.0,19.0,0.0,0.0,6.0,0,3,16